$section-color: #eee;

$small-screen: "min-width: 768px";
$medium-screen: "min-width: 992px";
$large-screen: "min-width: 1200px";

$max-small: "max-width: 767px";
$max-medium: "max-width: 991px";
$max-large: "max-width: 1200px";